@page "/potrelay"


@using Softata;
@using Softata.Enums
@inject AppState AppState
@using BlazorPro.Spinkit

<PageTitle>Softata</PageTitle>
<h1>Softata</h1>
<i><b>Softata:</b> A Firmata like C# library connecting to a RPi Pico W running Arduino.</i>
@if (!string.IsNullOrEmpty(AppState.AppVersion))
{
    <tr>
        <td><b>App Version: </b></td>
        <td>@AppState.AppVersion</td>
    </tr>
}
@if (!string.IsNullOrEmpty(AppState.Connected))
{
    <tr>
        <td><b>Connected: </b></td>
        <td>@AppState.Connected</td>
    </tr>
}
@if (!string.IsNullOrEmpty(AppState.DevicesCSV))
{
    <tr>
        <td><b>Device Types: </b></td>
        <td>@AppState.DevicesCSV.Replace("DEVICES:", "")</td>
    </tr>
}
@if (!(AppState.TestCategory == DeviceCategory.MaxType))
{
    <tr>
        <td><b>Selected Test Category: </b></td>
        <td>@AppState.TestCategory</td>
    </tr>
}
@if (!(AppState.TestType == CommandType.MaxType))
{
    <tr>
        <td><b>Selected Test Type: </b></td>
        <td>@AppState.TestType</td>
    </tr>
}

<hr />

@if (Busy)
{
    <Pulse />
    <p>Please wait ...</p>
}
else if(AppState.Running)
{
    <Fold />
    <p>Running ...</p>
}

@if (AppState.ReadytoRun)
{
    <h4>Potentiometer-Relay Test</h4>
    <p>
        This tests the Analog input(potentiometer) and that triggers a relay RPi Pico W.
        <br />
        Runs the test as per the Console app without user web page interaction.
        <br />
        The analog value is read on the Pico passed back to this app,
        <br />
        if greater than 50% the state is true, false otherwise.
        <br />
        If the state has changed then sent back to Pico a digital signal to the Relay..
        <br />
        UI Lights show when certain threshholds are reached.
        <br/>
        <i>Set to run for 60s (2 readings ps)</i>
    </p>


    <h2>Setup</h2>

    <ul>
        <li>Connect a Potentiometer to pin @AppState.Potentiometer</li>
        <li>Connect a LED to pin @AppState.Relay</li>
    </ul>

    @if (!AppState.Running)
    { 
        @if (ReconnectVisible)
        {
            <button  class="btn btn-primary" @onclick="Reconnect">Reconnect and run test</button>
        }
        else if (RunVisble)
        {
            <button class="btn btn-primary" @onclick="Start">Run test</button>
        }
    }
    else
    {
        <div class="form-group">
            @switch (AppState.TestType)
            {
                case Softata.Enums.CommandType.PotRelay:
                    {
                        <h2>Rotate the potentiometer slowly. At 50% the Relay turns on..</h2>
                        <ul>
                            <li>Pot: Bar Graph show level.</li>
                            <li>Relay glows when ON.</li>
                        </ul>

                        <table>
                            <tr>
                                <td width="150">Potentiometer:</td>
                                <td rowspan="2">
                                    <div class="row">
                                        <div class="lights">
                                            <div class="orange @(PotValue>9 ? "on" : "off")"></div>
                                            <div class="orange @(PotValue>24 ? "on" : "off")"></div>
                                            <div class="orange @(PotValue>49 ? "on" : "off")"></div>
                                            <div class="orange @(PotValue>74 ? "on" : "off")"></div>
                                            <div class="orange @(PotValue>89 ? "on" : "off")"></div>
                                            <div class="green @(RelayValue==SoftataLib.PinState.HIGH ? "on" : "off")"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;</td>
                                <td>@PotValue</td>
                            </tr>
                            <tr>
                                <td>Relay:</td>
                                <td>&nbsp;&nbsp;</td>
                                <td>@RelayValue</td>
                            </tr>
                        </table>
                    }
                    break;
            }

        </div>


        <button class="btn btn-primary" @onclick="Stop">Cancel</button>

        
    }
}





@code {
    SoftataLib.PinState RelayValue = SoftataLib.PinState.LOW;
    int PotValue { get; set; } = 0;

    public class A2DandRelayValues
    {
        public int PotValue { get; set; } = 0;
        public SoftataLib.PinState RelayValue { get; set; } = SoftataLib.PinState.LOW;
    }

    bool busy = false;
    bool Busy
    {
        get => busy;
        set { busy = value; StateHasChanged(); }
    }

    Queue<A2DandRelayValues> queue = new Queue<A2DandRelayValues>();





    public System.Threading.WaitHandle Trigger { get; set; }
    bool reconnectable = false;




    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
        AppState.ReadytoRun = true; ;
        AppState.Running = false;
        ReconnectVisible = false;
        RunVisble = true;

        queue = new Queue<A2DandRelayValues>();
        Trigger = new System.Threading.ManualResetEvent(false);
        var thread = new System.Threading.Thread(_ =>
        {
            Trigger.WaitOne();
            Run();
        });

        thread.Start();

    }

    private async Task Start()
    {
        AppState.Running = true;
        StateHasChanged();
        await Task.Delay(100);

        queue = new Queue<A2DandRelayValues>();
        Trigger = new System.Threading.ManualResetEvent(false);
        var thread = new System.Threading.Thread(_ =>
        {
            Trigger.WaitOne();
            Run();
        });

        thread.Start();
        queue = new Queue<A2DandRelayValues>();
        await Task.Delay(100);
        ((ManualResetEvent)Trigger).Set();
        while(AppState.Running)
        {
            try
            {
                if (queue.TryDequeue(out A2DandRelayValues? states))
                {
                    if (states != null)
                    {
                        PotValue = states.PotValue;
                        RelayValue = states.RelayValue;
                        StateHasChanged();
                    }
                }
            }
            catch(Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
            await Task.Delay(333);
        }
        RunVisble = false;
        Busy = true;
        StateHasChanged();
        await Task.Delay(333);
        SoftataLib.SendMessageCmd("End");      
        await Task.Delay(30000);
        Busy = false;
        await Task.Delay(100);
        ReconnectVisible = true;
        StateHasChanged();
    }

    bool RunVisble { get; set; } = false;
    bool ReconnectVisible  { get; set; } = false;

    private void Stop()
    {
        AppState.Running = false;
        StateHasChanged();
    }

    private async void Reconnect()
    {
        Busy = true;
        StateHasChanged();
        await Task.Delay(100);
        ReconnectVisible = false;
        SoftataLib.Reconnect();
        StateHasChanged();
        await Task.Delay(1000);
        Busy = false;
        StateHasChanged();
        await Task.Delay(100);
        await Start();
    }


    private  async void Run()
    {
        A2DandRelayValues a2DandRelayValues = new A2DandRelayValues();
        SoftataLib.Analog.SetAnalogPin(SoftataLib.Analog.AnalogDevice.Potentiometer, AppState.Potentiometer);

        // Note no pin setup needed for analog
        SoftataLib.Digital.SetPinMode(AppState.Relay, SoftataLib.PinMode.DigitalOutput);
        bool state = false;
        a2DandRelayValues.PotValue = 0;
        a2DandRelayValues.RelayValue = SoftataLib.PinState.LOW;
        queue.Enqueue(a2DandRelayValues);
        Thread.Sleep(500);

        for (int i = 0; i < 1200; i++)
        {
            double val = SoftataLib.Analog.AnalogReadPotentiometer();
            a2DandRelayValues.PotValue = (int)val;
            if (val != double.MaxValue)
            {
                Console.WriteLine($"AnalogRead({AppState.Potentiometer}) = {val:0.##}");
                if (val > 50)
                {
                    if (!state)
                    {
                        a2DandRelayValues.RelayValue = SoftataLib.PinState.HIGH;
                        Console.WriteLine("\t\t\tRelay ON");
                        state = true;
                        SoftataLib.Digital.SetPinState(AppState.Relay, SoftataLib.PinState.HIGH);
                    }
                }
                else
                {
                    if (state)
                    {
                        a2DandRelayValues.RelayValue = SoftataLib.PinState.LOW;
                        Console.WriteLine("\t\t\tRelay OFF");
                        state = false;
                        SoftataLib.Digital.SetPinState(AppState.Relay, SoftataLib.PinState.LOW);
                    }
                }
            }
            else
                Console.WriteLine($"\t\tAnalogRead({AppState.Potentiometer}) failed");
            Console.WriteLine();
            queue.Enqueue(a2DandRelayValues);
            Thread.Sleep(500);
        }
        AppState.Running = false;
        Thread.Sleep(333);     
    }

}

