@page "/"
@using BlazorSoftata2
@inject BlazorSoftata2.AppState AppState
@using ConsoleTextFormat
@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime
@using System.Threading.Tasks
@using BlazorSoftata2.Components
@using BlazorSoftata2.Pages.Components
@using Softata.ActionCommands

<PageTitle>Softata on Blazor</PageTitle>

<h1>Softata on Blazor</h1>

<h3>Welcome to Softata.</h3>


<div class="links" @onclick= "() =>{HideLabel = !HideLabel;}" style="background-color: #F0F0F0" hidden="@HideLabel">
    <hr />
        <h2>Links</h2>
        <i>Click anywhere here to hide this.</i>
        <ul>
        <li><a href="https://github.com/djaus2/Soft-ata" target="_blank">Softata <i>Apps</i></a></li>
            <ul>
                <li><a href="https://github.com/djaus2/Soft-ata/tree/master/code/SoftataConsole2" target="_blank">Console App2 <i>(Github)</i></a></li>
                <li><a href="https://github.com/djaus2/Soft-ata/tree/master/code/BlazorSoftata" target="_blank">Blazor App2 <i>(Not yet available:coming)</i></a></li>
                <li><a href="https://github.com/djaus2/Soft-ata/tree/master/code/SoftataWebAPI" target="_blank">Blockly App2 <i>Not yet available:coming)</i></a></li>
                <li><a href="https://github.com/djaus2/Soft-ata/tree/master/code/Softata" target="_blank">SoftataLib V3.1 <i>Not yet available:coming)</i></a></li>
            </ul>
        <li><a href="https://github.com/djaus2/SoftataDevices" target="_blank">Softata Devices <i>(Arduino}</i></a></li>
        <li><a href="https://davidjones.sportronics.com.au/cats/softata/" target="_blank">Softata Blog Posts</a></li>
        </ul>
    <hr />
</div>


<MyDialog @ref="myDialog" 
    TargetValue="@DialogVa1"
    IsVisible="@isDialog2Visible2"
           Min=@DialogMin
           Max=@DialogMax
           Entity=@DialogEntity
    IsVisibleChanged="@OnDialogVisibilityChanged2" 
    TargetDevicePinChanged="@OnTargetDevicePinChanged2">
    <h4>@DialogMsg</h4>
</MyDialog>


@code {

    private bool HideLabel { get; set; } = false;
    private bool isDialog2Visible2 { get; set; } = false;
    private int targetDevicePin;
    private MyDialog myDialog;
    private int targetDevicePin2 = -1;
    string DialogMsg = "Using Non Default GPIO Pin 16-21";
    int DialogMin = 16;
    int DialogMax = 21;
    int DialogVa1 = 0;
    string DialogEntity = "Pin";

    private async Task ShowDialogFromButton2()
    {
        if (myDialog != null)
        {
            isDialog2Visible2 = true;
            await myDialog.ShowAsync();
            await InvokeAsync(StateHasChanged); // Ensure the UI is updated to show the dialog
        }
    }

    public async Task ShowDialogModally2()
    {
        if (myDialog != null)
        {

            targetDevicePin2 = await myDialog.ShowAsync();
            await InvokeAsync(StateHasChanged); // Ensure the UI is updated to reflect the changes
        }
    }

    private Task OnDialogVisibilityChanged2(bool isVisible)
    {
        isDialog2Visible2 = isVisible;
        return InvokeAsync(StateHasChanged);
    }

    enum DialogMode
    {
        Pin,
        NumBits
    }


    private Task OnTargetDevicePinChanged2(int pin)
    {
        DialogVa1= pin;
        StateHasChanged();
        return Task.CompletedTask;
    }
    private void HandleCommandSelectionKeyDown(KeyboardEventArgs e)
    {
        StateHasChanged();
        string response = AppState.CommandsPortal.RunGenericMethod(AppState.TargetCommand);
    }

}


<hr />
 

 <MyDialogTemp @ref="myDialogTemp"
    TargetDevicePin=@AppState.TargetDevicePin.Index
    IsVisible="@isDialogVisible" 
    Min=@DialogMin
    Max=@DialogMax
    Entity=@DialogEntity
    IsVisibleChanged="@OnDialogVisibilityChanged" 
    TargetDevicePinChanged="@OnTargetDevicePinChanged">
    <h3>@DialogMsg</h3>
</MyDialogTemp>



@code
{
    // Dialog Code

    private bool ShowDialogButton { get; set; } = true;
    private bool isDialogVisible { get; set; } = false; 

    private MyDialogTemp myDialogTemp;

    private MyDialogTemp GetMyDialogTemp;


    
    private async Task ShowDialog()
    {
        if (myDialogTemp != null)
        {
            DialogVa1 = await myDialogTemp.ShowAsync();
            
            await InvokeAsync(StateHasChanged); // Ensure the UI is updated to reflect the changes
        }
    }

    private Task OnDialogVisibilityChanged(bool isVisible) 
    { 
        isDialogVisible = isVisible; 
        return InvokeAsync(StateHasChanged);
    }

    private Task OnTargetDevicePinChanged(int pin) 
    { AppState.TargetDevicePin.Index = pin; 
        return Task.CompletedTask; 
    }
} 


@if (!AppState.Connected)
{

    <EditForm Model="@ipInputModel" OnValidSubmit="@HandleValidConnectionSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label for="text">IPAddress:</label>
            <InputText id="text" @bind-Value="ipInputModel.IpaddressStr" />
        </div>
        <div>
            <label for="number">Port:</label>
            <InputNumber id="number" @bind-Value="ipInputModel.Port" />
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </EditForm>
}
else
{
    <button class="btn btn-primary" @onclick="Disconnect">Disconnect</button>
    @if(AppState.DeviceTypes.List.Count > 0)
    {
        <h2>Device Type:</h2>
        <select  @onchange="HandleDeviceTypeSelectionChange">
        <option value="">Select an item...</option> 
        @for (int i = 0; i < AppState.DeviceTypes.List.Count; i++)
        {
            <option value="@i">@AppState.DeviceTypes.List[i]</option>
        } 
        </select>
        @if (AppState.TargetDeviceType != null)
        {
            @if (AppState.TargetDeviceType.Item != "")
            {
                <p>Selected Device Type: @AppState.TargetDeviceType.Index. @AppState.TargetDeviceType.Item</p>

                @if (AppState.Devices.List.Count > 0)
                {
                    <h2>Device: </h2>
                    @if (AppState.TargetDevice != null)
                    {
                        @if (AppState.TargetDevice.Item == "")
                        {
                            <select @onchange="HandleDevicesSelectionChange">
                                <option value="">Select an item...</option>
                                @for (int i = 0; i < AppState.Devices.List.Count; i++)
                                {
                                    <option value="@i">@AppState.Devices.List[i]</option>
                                }
                            </select>
                        }
                        else if (AppState.TargetDevice.Item != "")
                        {
                            <p>Selected Device: @AppState.TargetDevice.Index. @AppState.TargetDevice.Item</p>
                            
                            @if(AppState.Pinouts.List.Count > 0)
                            {
                                <h2>Pinouts: </h2>
                                @if (AppState.TargetDevicePinout != null)
                                {
                                    @if (AppState.TargetDevicePinout.Item == "")
                                    {
                                        <ul>
                                        @foreach (var pinout in AppState.Pinouts.List)
                                        {
                                            <li>@pinout</li>
                                        }
                                        </ul>
                                        <h4>Connect <i>as per one of the above</i> now and then select connection:</h4>
                                        <select @onchange="HandlePinoutSelectionChange">
                                            <option value="">Select an item...</option>
                                            @foreach (var pinout in AppState.Pinouts.List)
                                            {
                                                <option >@pinout</option>
                                            }
                                        </select>
                                    }
                                    else if(AppState.TargetDevicePinout.Item != "")
                                    {
                                        @if (Instantiated)
                                        {
                                            <table>
                                            @if (AppState.TargetDevicePinout.Index == 0)
                                            {
                                                <tr><td>Using Default Setup</td></tr>
                                                @if (AppState.TargetDevicePin.Item != "")
                                                {
                                                    <tr><td>@AppState.TargetDevicePin.Item</td></tr>
                                                }
                                                                         }
                                            else
                                            {
                                                <tr><td>Using NonDefault Setup</td></tr>
                                                    @if (AppState.TargetDevicePin.Item != "")
                                                    {
                                                        <tr><td> @AppState.TargetDevicePin.Item </td></tr>
                                                    }                                       
                                            }
                                            @if (AppState.TargetDeviceType.Item.ToLower() == "actuator")
                                            {
                                                @if (AppState.Num_Bits.Item != "")
                                                {
                                                        <tr><td>Actuator Number Bits <i>(0 means ignored):</i>: @AppState.Num_Bits.Index</td></tr>
                                                }
                                            }
                                            else if (AppState.TargetDeviceType.Item.ToLower() == "deviceinput")
                                            {
                                                @if (AppState.Num_Bits.Item != "")
                                                {
                                                    <tr><td>Actuator Number Bits <i>(0 means ignored):</i>: @AppState.Num_Bits.Index</td></tr>
                                                }
                                            }
                                            </table>
                                            @if ((AppState.TargetDevicePinout.Index != 0) ||(@AppState.TargetDevicePin.Item == ""))
                                            {
                                            <h4>@PinoutStr<br />Instantiated Device. Linked List No: @AppState.linkedListNo</h4>
                                            @if (AppState.UseGenericCommands.Count > 0)
                                            {
                                                <table>

                                                   <tr>:
                                                        <td  align="center">
                                                                @GetDeviceNameHtmlHeading()
                                                        </td>                                                   
                                                    </tr>
                                                    <tr>
                                                   <td>
                                                        <h3>Generic Command: </h3>
                                                    </td>
                                                    <td>
                                                        <select @onchange="HandleCommandSelectionChange" @onkeydown="HandleCommandSelectionKeyDown" >
                                                            <option value="">Select an item...</option>
                                                            @foreach (var cmd in  AppState.UseGenericCommands)
                                                            {
                                                                <option value="@cmd.Key">@cmd.Key. @cmd.Value</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    @if (lastMenuSelectedIndex > -1)
                                                            {
                                                                <td>
                                                                    <button class="btn btn-primary" @onclick="HandleCommandSelection">Repeat</button>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>&ensp;</td>
                                                            }
                                                        </tr>
                                                
                                                @switch (@AppState.TargetDeviceType.Item.ToLower())
                                                {
                                                    case "actuator":
                                                            <EditForm Model="@deviceinputModel">

                                                                
                                                                    @if ((@AppState.Capabilities & (int)Softata.Enums.ActuatorCapabilities.a_bit) == (int)Softata.Enums.ActuatorCapabilities.a_bit)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <label for="numselect">Select bit for single bit commands: </label>
                                                                            </td>
                                                                            <td>
                                                                                <InputNumber id="numselect" @bind-Value="deviceinputModel.bitNum" min="@AppState.StartBit" max="@AppState.EndBit" />
                                                                            </td>
                                                                        </tr>

                                                                    }
                                                                    @if(
                                                                        ((@AppState.Capabilities & (int)Softata.Enums.ActuatorCapabilities.a_writebyte) == (int)Softata.Enums.ActuatorCapabilities.a_writebyte)
                                                                        ||
                                                                       ((@AppState.Capabilities & (int)Softata.Enums.ActuatorCapabilities.a_writeword) == (int)Softata.Enums.ActuatorCapabilities.a_writeword)
                                                                    )
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <label for="numselect">Select value to send to actuator <i>(byte/word write)</i>: </label>
                                                                            </td>
                                                                            <td>
                                                                                <InputNumber id="numselect" @bind-Value="deviceinputModel.value" min="@AppState.selectedDeviceLoopVars.actuatorRange.Item1" max="@AppState.selectedDeviceLoopVars.actuatorRange.Item2" />
                                                                            </td>
                                                                        </tr>

                                                                    }
                                                                    @if (
                                                                        ((@AppState.Capabilities & (int)Softata.Enums.ActuatorCapabilities.a_bit) == (int)Softata.Enums.ActuatorCapabilities.a_bit)
                                                                            ||
                                                                        ((@AppState.Capabilities & (int)Softata.Enums.ActuatorCapabilities.a_none) == (int)Softata.Enums.ActuatorCapabilities.a_none)
                                                                    )
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <label for="boolselect">State for SetState function: &nbsp;<i>(True/False Checked/Unchecked)</i></label>
                                                                            </td>
                                                                            <td align="center">
                                                                                <InputCheckbox id="numselect" @bind-Value="deviceinputModel.Bool"/>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                               
                                                            </EditForm>
                                                        break;
                                                    case "display":
                                                           
                                                                @if (@AppState.DisplayMiscCmds != null)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <h3>Misc Commands:</h3>
                                                                        </td>
                                                                        <td>
                                                                            <select @bind = "deviceinputModel.lastMiscMenuSelectedIndex">
                                                                            <option value="">Select Display Misc Cmd...</option>
                                                                            @for (int i = 0; i < AppState.DisplayMiscCmds.Count; i++)
                                                                            {
                                                                                <option value="@i">@AppState.DisplayMiscCmds[i]</option>
                                                                            }
                                                                        </select>
                                                                        </td>
                                                                        @if (deviceinputModel.lastMiscMenuSelectedIndex > -1)
                                                                        {
                                                                            <td>
                                                                                <button class="btn btn-primary" @onclick="HandleCommandSelection">Repeat</button>
                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>&nbsp;</td>
                                                                        }
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <label for="numselect2">Enter a numeric parameter <i>(If required)</i>: </label>
                                                                        </td>
                                                                        <td>
                                                                            <InputNumber id="numselect2" @bind-Value="deviceinputModel.value"  />
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                <tr>
                                                                    <td>
                                                                        <label for="stringenter">Enter string for LCD WriteString: </label>
                                                                    </td>
                                                                    <td>
                                                                        <InputText id="stringenter" @bind-Value="deviceinputModel.stringValue" />
                                                                    </td>
                                                                </tr>
                                                           
                                                        break;
                                                    case "sensor":
                                                        break;
                                                    case "deviceinput":
                                                        <EditForm Model="@deviceinputModel">

                                                           
                                                                @if ((@AppState.Capabilities & (int)Softata.Enums.DeviceInputCapabilities.i_bit) == (int)Softata.Enums.DeviceInputCapabilities.i_bit)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <label for="numselect">Select num bit for single bit commands: </label>
                                                                        </td>
                                                                        <td>
                                                                            <InputNumber id="numselect" @bind-Value="deviceinputModel.numBits" min="1" max="@AppState.Num_Bits.Index" />
                                                                        </td>
                                                                    </tr>

                                                                }
                                                           
                                                        </EditForm>
                                                        break;
                                                    default:
                                                        break;
                                                }
                                                </table>
                                                @if (AppState.TargetCommand != null)
                                                {
                                                    @if (AppState.TargetCommand.Item != "")
                                                    {
                                                        <p>Selected Command: @AppState.TargetCommand.Index. <font color ="purple"><b>@AppState.TargetCommand.Item</b></font><br />
                                                            <i><font color ="blue">Press <b>[Repeat]</b> to rerun Cmd.</font></i></p>
                                                        @switch(@AppState.TargetDeviceType.Item.ToLower())
                                                        {
                                                            /*case "actuator":
                                                               @if (AppState.Num_Bits.Index>1)
                                                                {
                                                                    <GetNumberComponent @ref="getNumberComponent"
                                                                                        Value="@DialogVa12"
                                                                                        ValueChanged="@OnGetNumberComponentValueChanged"
                                                                                        IsVisible="true"
                                                                                        Min=@DialogMin2
                                                                                        Max=@DialogMax2
                                                                                        Entity="@DialogEntity2">
                                                                        <h4>Get Acuator input value</h4>
                                                                    </GetNumberComponent>
                                                                }
                          
                                                                break;*/
                                                            case "display":
                                                                break;
                                                            case "sensor":
                                                                break;
                                                            case "actuator":
                                                            case "deviceinput":
                                                                    <EditForm Model="@deviceinputModel">
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    <label >@deviceinputModel.title</label>
                                                                                </td>
                                                                                <td>
                                                                                     @deviceinputModel.cmd
                                                                                </td>
                                                                            </tr>
                                                                            <tr>                                               
                                                                                <td>
                                                                                    <label>Result:</label>
                                                                                </td>
                                                                                <td>
                                                                                    @deviceinputModel.result 
                                                                                </td>                                                                            
                                                                            </tr>
                                                                        </table>
                                                                    </EditForm>
                                                                break;
                                                            default:
                                                                break;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
<hr />
@if(@deviceinputModel.commandResultString!= "" )
{
    <p><b>Result:</b>&nbsp;@deviceinputModel.commandResultString</p>
}



@code{

    Dictionary<string, int> numBitsDict = new Dictionary<string, int>
    {
        {"gbargraph",2},
        {"lcd1602",2 },
        {"gswitch",2 },
        {"dht11",3 },
        {"oled096",4 }
    };
    /// <summary>
    /// Generate uppercase first (or more) char for heading, rest lowercase.
    /// Nb: Can't include functions etc in HTML so need to use a Markupnameof function liek this.
    /// Possible improvement: Get the lists above from Softata on device.
    /// Requires entry dictionary<string,int>
    /// Where key is the device name in lowercase
    /// And corresponding number of uppercase chars in the value.
    /// ToDo: Names ending in number to be all uppercase
    /// </summary>
    /// <returns>HTML Markup string</returns>
    private MarkupString GetDeviceNameHtmlHeading()
    {
        string heading = AppState.TargetDevice.Item.ToLower();
        int numUpper = 1;
        if (numBitsDict.Keys.Contains(heading))
        {
            numUpper = numBitsDict[heading];
        }
        if (numUpper < 1)
            heading = heading.ToUpper();
        else
            heading = heading.Substring(0, numUpper).ToUpper() + heading.Substring(numUpper);


        string htmlContent = " <font color=\"purple\">";
        htmlContent += $"<h2>{heading}</h2>";
        htmlContent += "</font>";
        return new MarkupString(htmlContent);
    }

    public class DeviceinputModel
    {
        public DeviceinputModel()
        {
            title = "";
            cmd = "";
            result = "";
            maxValue = 10;
        }

        public DeviceinputModel(string title, string cmd, string result)
        {
            this.title = title;
            this.cmd = cmd;
            this.result = result;
        }
        public string title { get; set; }
        public string cmd { get; set; }
        public string result { get; set; }
        public int bitNum { get; set; }
        public int maxValue { get; set; }
        public int value { get; set; }
        public double doubleValue { get; set; }
        public int numBits { get; set; }
        public int startBit { get; set; } = 0;
        public int endBit { get { return numBits-1; } }
        public bool Bool {get; set;}
        public string stringValue { get; set; } = "";
        public int csvSelection { get; set; } = 0;
        public Func<int, string, bool, bool, Selection> SelectFromCSV { get; set; }
        public int lastMiscMenuSelectedIndex { get; set; } = -1;
        public int commandResultInt { get; set; } = 0;
        public double commandResultDouble { get; set; } = 0.0;
        public string commandResultString { get; set; } = "";
    }

    public static DeviceinputModel deviceinputModel { get; set; } = new DeviceinputModel();
}






@if (getNumberComponent != null)
{
    <p>@DialogVa12</p>
}
@code
{

    public bool ShowInput{ get { return (AppState.UseGenericCommands.Count > 0); }}
    private GetNumberComponent getNumberComponent;
    private int DialogVa12 = 90;
    private int DialogMin2 = 0;
    private int DialogMax2 = 180;
    private string DialogEntity2 = "Input Value";
    private void OnGetNumberComponentValueChanged(int newValue) {
        DialogVa12 = newValue; }
}

@code{
    //[Inject]
    //private IJSRuntime JSRuntime { get; set; }



    int selectedpins { get; set; } = 0;
    int lln = -1;
    string PinoutStr { get; set; } = "";
    bool Instantiated { get; set; } = false;


    public class IPInputModel
    {
        private string ipaddressStr;
        public string IpaddressStr { 
            get => ipaddressStr; 
            set { ipaddressStr = value; } }
        public int Port { get; set; } 
    }

    IPInputModel ipInputModel { get; set; } = new IPInputModel();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            lastMenuSelectedIndex = -1;
            lastMiscMenuSelectedIndex = -1;
            deviceinputModel.lastMiscMenuSelectedIndex = lastMiscMenuSelectedIndex;

            bool loaded = AppState.Loaded;
            if (!loaded)
            {
                string? _ipaddressStr = SettingsManager.ReadSetting("IpaddressStr");

                if (!string.IsNullOrEmpty(_ipaddressStr))
                {
                    ipInputModel.IpaddressStr = _ipaddressStr;
                    StateHasChanged();
                }

                string _port = SettingsManager.ReadSetting("Port");
                if (!string.IsNullOrEmpty(_port))
                {
                    if (uint.TryParse(_port, out uint _portNo))
                    {
                        ipInputModel.Port = (int)_portNo;
                        StateHasChanged();
                    }

                }
            }
            else
            {
                ipInputModel.IpaddressStr = AppState.IpaddressStr;
                ipInputModel.Port = AppState.Port;
                StateHasChanged();
            }
            StateHasChanged();
        }
    }

    int selectedIndex { get; set; } = 0;

    private async Task HandleValidConnectionSubmit()
    {
        string? _ipaddressStr = SettingsManager.ReadSetting("IpaddressStr");
        if (!string.IsNullOrEmpty(_ipaddressStr))
        {
            if (_ipaddressStr.Count(c => c == '.') == 3)
            {
                if (System.Net.IPAddress.TryParse(_ipaddressStr, out System.Net.IPAddress? address))
                {
                    if (!string.IsNullOrEmpty(ipInputModel.IpaddressStr))
                    {
                        if (ipInputModel.IpaddressStr.Count(c => c == '.') == 3)
                        {
                            if (System.Net.IPAddress.TryParse(ipInputModel.IpaddressStr, out System.Net.IPAddress? address2))
                            {
                                if (_ipaddressStr != ipInputModel.IpaddressStr)
                                {
                                    SettingsManager.AddUpdateAppSettings("IpaddressStr", ipInputModel.IpaddressStr);
                                }
                            }
                        }
                    }
                }
            }
        }
        else
        {
            if (!string.IsNullOrEmpty(ipInputModel.IpaddressStr))
            {
                if (ipInputModel.IpaddressStr.Count(c => c == '.') == 3)
                {
                    if (System.Net.IPAddress.TryParse(ipInputModel.IpaddressStr, out System.Net.IPAddress? address2))
                    {
                        SettingsManager.AddUpdateAppSettings("IpaddressStr", ipInputModel.IpaddressStr);
                    }
                }
            }
        }






        if (AppState.IpaddressStr != ipInputModel.IpaddressStr)
        {
            AppState.IpaddressStr = ipInputModel.IpaddressStr;
        }

        string _port = SettingsManager.ReadSetting("Port");
        if (!string.IsNullOrEmpty(_port))
        {
            if(uint.TryParse(_port, out uint _portNo))
            {
                if(_portNo != ipInputModel.Port)
                {
                    SettingsManager.AddUpdateAppSettings("Port", ipInputModel.Port.ToString());
                }
            }
        }
        else
        {
            SettingsManager.AddUpdateAppSettings("Port", ipInputModel.Port.ToString());
        }
        if (AppState.Port != ipInputModel.Port)
        {
            AppState.Port = ipInputModel.Port;
        }
        await Connect();
        //AppState.softataLib = new Softata.SoftataLib();
        Softata.ActionCommands.CommandsPortal.Setup(
            new LLLayout( ),
            GetGenericCmdIndex,
            AppState.softataLib
        );
        if(string.IsNullOrEmpty(AppState.Devices.CSV))
        {
            Begin();
        }


        //AppState.Connected = true;
    }

    private void HandleDeviceTypeSelectionChange(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            string val = e.Value.ToString();
            if (!string.IsNullOrEmpty(val))
                if (int.TryParse(val, out int selectedIndex))
                {
                    AppState.TargetDeviceType = new Selection(selectedIndex, AppState.DeviceTypes.List[(int)selectedIndex]);
                    StateHasChanged();
                    GetDevices();
                    AppState.TargetDevice = new Selection();
                    AppState.TargetDevicePinout = new Selection();
                    AppState.TargetCommand = new Selection();
                    StateHasChanged();
                }

            lastMenuSelectedIndex = -1;
            lastMiscMenuSelectedIndex = -1;
            deviceinputModel.lastMiscMenuSelectedIndex = lastMiscMenuSelectedIndex;
        }
    }



    private void HandleDevicesSelectionChange(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            string val = e.Value.ToString();
            if (!string.IsNullOrEmpty(val))
                if (int.TryParse(val, out int selectedIndex))
                {
                    AppState.TargetDevice = new Selection(selectedIndex, AppState.Devices.List[(int)selectedIndex]);
                    GetPinouts();
                    AppState.TargetDevicePinout = new Selection();
                    AppState.TargetCommand = new Selection();
                    StateHasChanged();
                }
            lastMenuSelectedIndex = -1;
        }
    }

    private async Task SelectNonDefaultDevicePin()
    {
        this.DialogVa1 = AppState.TargetDevicePin.Index;
        DialogMin = 16;
        DialogMax = 21;
        DialogEntity = "Pin";
        DialogMsg = "Using Non Default GPIO Pin 16-21";

        await ShowDialogFromButton2();
        AppState.TargetDevicePin.Item = $"Using GPIO Pin {DialogVa1}";
        AppState.TargetDevicePin.Index  = DialogVa1;
        StateHasChanged();
    }

    private async Task GetActuatorNumBits()
    {
        if (AppState.Max_Num_Bits > 1)
        {
            this.DialogVa1 = AppState.Max_Num_Bits;
            DialogMin = 0;
            DialogMax = AppState.Max_Num_Bits;
            DialogEntity = "Num Bits";
            DialogMsg = $"Number of Bits: 1-{DialogMax} (Default {DialogMax}), 0=Ignored, eg Grove Relay";
            await ShowDialogFromButton2();
        }
        else
            DialogVa1 = AppState.Max_Num_Bits;
        AppState.Num_Bits.Index = DialogVa1;
        AppState.Num_Bits.Item = $"Number of Bits: {DialogVa1}";
        StateHasChanged();
    }

    public async Task<int> GetActuatorValueToSet(int start, int end)
    {
        this.DialogVa1 = AppState.selectedDeviceLoopVars.Value;
        DialogMin = start;
        DialogMax = end;
        DialogEntity = "Actuator value";
        DialogMsg = $"Set Actuator Value: 0-{DialogMax} (Default {this.DialogVa1})";
        await ShowDialogFromButton2();
        return this.DialogVa1;
    }


    private void GetDeviceInputNumBits()
    {

        byte subCmd = Softata.SoftataLib.GetGenericCmdIndexfromList("Getnumbits", AppState.GenericCommands.List);
        string numbitsStr = AppState.softataLib.SendTargetCommand((byte)AppState.TargetDeviceType.Index, 1, subCmd, (byte)0xff, AppState.linkedListNo);
        if(int.TryParse(numbitsStr, out int numbits))
        {
            AppState.Num_Bits.Index = numbits;
            AppState.Num_Bits.Item = $"Number of Bits: {numbits}";
        }
        StateHasChanged();
    }

    private async Task HandlePinoutSelectionChange(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            string? item = e.Value.ToString();
            if (!string.IsNullOrEmpty(item))
            {
                int selectedIndex = AppState.Pinouts.List.FindIndex(s => s.Contains(item, StringComparison.OrdinalIgnoreCase));
                if (selectedIndex > -1)
                {
                    AppState.TargetDevicePinout = new Selection(selectedIndex, AppState.Pinouts.List[(int)selectedIndex]);
                    StateHasChanged();
                    if(selectedIndex>0)
                    {
                        await SelectNonDefaultDevicePin();
                        // @if (ShowDialogButton)
                        // {
                        //     <button @onclick="ShowDialog" class="btn btn-primary">ShowDialog</button>
                        // }
                    }

                    Instantiate();
                    if (AppState.TargetDeviceType.Item.ToLower() == "actuator")
                    {
                        await GetActuatorNumBits();
                    }
                    if (AppState.TargetDeviceType.Item.ToLower() == "deviceinput")
                    {
                        GetDeviceInputNumBits();
                    }
                    AppState.TargetCommand = new Selection();
                }
                deviceinputModel.maxValue = AppState.MaxVal;
                deviceinputModel.numBits = AppState.Num_Bits.Index;
                StateHasChanged();
            }
        }
    }

    #region CMD SELECTION
    //////////////////////// M I S C   C M D   S E L E C T I O N ////////////////////////////////////
    ///
    private int lastMiscMenuSelectedIndex { get; set; } = -1;

    private void HandleDisplayMiscCmdSelectionChange(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            string? val = e.Value.ToString();
            if (!string.IsNullOrEmpty(val))
                if (int.TryParse(val, out int selectedIndex))
                {
                    if (selectedIndex > -1)
                    {
                        HandleDisplayMiscCmd(selectedIndex);
                    }
                }
        }
    }

    private void HandleDisplayMiscCmd()
    {
        int selectedIndex = deviceinputModel.lastMiscMenuSelectedIndex;
        if (selectedIndex > -1)
        {
            HandleDisplayMiscCmd(selectedIndex);
        }
    }

    private void HandleDisplayMiscCmd(int selectedIndex)
    {
        if (selectedIndex > -1)
        {
            lastMiscMenuSelectedIndex = selectedIndex;
            deviceinputModel.lastMiscMenuSelectedIndex = lastMiscMenuSelectedIndex;           
            AppState.TargetCommand = new Selection(lastMenuSelectedIndex, AppState.GenericCommands.List[(int)lastMenuSelectedIndex]);
            StateHasChanged();
            string response = AppState.CommandsPortal.RunGenericMethod(AppState.TargetCommand);
            if(int.TryParse(response, out int result))
            {
                deviceinputModel.commandResultInt = result;
            }
            else if (double.TryParse(response, out double dbl))
            {
                deviceinputModel.commandResultDouble = dbl;
            }

            deviceinputModel.commandResultString = response;

        }
    }

    //////////////////////// G E N E R I C   C M D   S E L E C T I O N //////////////////////////////

    private int lastMenuSelectedIndex { get; set; } = -1;

    private void HandleCommandSelectionChange(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            string? val = e.Value.ToString();
            if (!string.IsNullOrEmpty(val))
            {
                if (int.TryParse(val, out int selectedIndex))
                {
                    if (selectedIndex > -1)
                    {
                        HandleCommand(selectedIndex);
                    }
                }
            }
        }
    }

    private void HandleCommandSelection()
    {
        int selectedIndex = lastMenuSelectedIndex;
        if (selectedIndex > -1)
        {
            HandleCommand(selectedIndex);
        }
    }

    private void HandleCommand(int selectedIndex)
    {
        if (selectedIndex > -1)
        {
            AppState.TargetCommand = new Selection(selectedIndex, AppState.UseGenericCommands[(int)selectedIndex]);
            StateHasChanged();
            string response = AppState.CommandsPortal.RunGenericMethod(AppState.TargetCommand);
            lastMenuSelectedIndex = selectedIndex;
        }
    }

    //////////////////////// E N D   C M D   S E L E C T I O N /////////////////////////////////////////////////
    #endregion

    public void Disconnect()
    {
        if (AppState.Connected)
        {
            AppState.softataLib.SendMessageCmd("End");
            AppState.softataLib.Disconnect();
            Thread.Sleep(500);
        }
        AppState.Connected = false;       
        AppState.softataLib = new Softata.SoftataLib();
        Softata.ActionCommands.CommandsPortal.Setup(
            new LLLayout(),
            GetGenericCmdIndex,
            AppState.softataLib
        );
        AppState = new AppState();
    }

    public void Restart()
    {
        if (AppState.Connected)
        {
            AppState.softataLib.SendMessageCmd("End");
            AppState.softataLib.Disconnect();
            Thread.Sleep(500);
        }
        AppState.Connected = false;
        AppState.softataLib = new Softata.SoftataLib();
        Softata.ActionCommands.CommandsPortal.Setup(
            new LLLayout(),
            GetGenericCmdIndex,
            AppState.softataLib
        );

        AppState = new AppState();
    }

    public async Task Connect()
    {
        if (!AppState.Connected)
        {
            bool res = AppState.softataLib.Connect(AppState.IpaddressStr, AppState.Port);
            if (!res)
            {
                await ShowAlert($"Failed to connect to {AppState.IpaddressStr}:{AppState.Port}");
                await ShowAlert("Press [Enter] to try again or [Q] to quit");
                string? key = Console.ReadLine();
                if (!string.IsNullOrEmpty(key))
                {
                    if (key.ToUpper() == "Q")
                        AppState.Quit = true;
                }
            }
            else
            {
                AppState.Connected = true;
                await ShowAlert($"Connected to {AppState.IpaddressStr}:{AppState.Port}");
            }

        }
    }

    public void Begin()
    {
        AppState.softataLib.SendMessageCmd("Begin");
        Thread.Sleep(100);
        string Version = AppState.softataLib.SendMessageCmd("Version");
        System.Diagnostics.Debug.WriteLine($"Softata Version: {Version}");
        Thread.Sleep(100);
        string cmdsOffset = AppState.softataLib.SendMessageCmd("Soffset");
        if (int.TryParse(cmdsOffset, out int _offset))
        {
            AppState.softataLib.Offset = _offset; //Should be 0xf0
            System.Diagnostics.Debug.WriteLine($"CommandsOffset: {_offset}");
        }
        Thread.Sleep(100);
        AppState.DeviceTypes.CSV = AppState.softataLib.SendMessageCmd("Devices");
        System.Diagnostics.Debug.WriteLine($"{AppState.DeviceTypes.CSV}");
        StateHasChanged();
    }

    public void GetDevices()
    {
        byte subCmd = 0; //getCmds Always first
        AppState.GenericCommands.CSV = AppState.softataLib.SendTargetCommand((byte)AppState.TargetDeviceType.Index, 1, subCmd);


        //Get commands to be diaplyed in menu
        AppState.UseGenericCommands = new Dictionary<int, string>();
        for (int i = 0; i < AppState.GenericCommands.List.Count(); i++)
        {
            if (char.IsUpper(AppState.GenericCommands.List[i][0]))
            {


            }
            else
            {
                // Will have leading A_ D_ or S_
                // OR
                // leading S__ D__ or S__
                if (AppState.GenericCommands.List[i].Substring(1, 2) == "__")
                {
                    // These commands are called from the device class type
                    // Using the specific device type ordinal
                    // Without using an instance
                    string cmd = AppState.GenericCommands.List[i].Substring(3);
                    AppState.Stringlist.Add(cmd);
                    AppState.UseGenericCommands.Add(i, cmd);
                    // Will have leading A_ D_ or S_
                    // General Actuator/Display/Sensor class info
                }
                else
                {
                    //Will have leading a_ d_ or s_
                    string cmd = AppState.GenericCommands.List[i].Substring(2);
                    AppState.UseGenericCommands.Add(i, cmd);
                }
            }
        }
        subCmd = Softata.SoftataLib.GetGenericCmdIndexfromList("getDevices", AppState.GenericCommands.List);
        AppState.Devices.CSV = AppState.softataLib.SendTargetCommand((byte)AppState.TargetDeviceType.Index, 0, subCmd);
        Thread.Sleep(100);
        StateHasChanged();
    }

    private void GetPinouts()
    {
        byte subCmd = Softata.SoftataLib.GetGenericCmdIndexfromList("getpins", AppState.GenericCommands.List);
        AppState.Pinouts.CSV = AppState.softataLib.SendTargetCommand((byte)AppState.TargetDeviceType.Index, 1, subCmd, (byte)AppState.TargetDevice.Index);

        Thread.Sleep(100);
    }

    private void Instantiate()
    {
        if (AppState.TargetDevicePinout.Index == 0)
        {
            if (AppState.TargetDevicePinout.Item.Contains("="))
            {
                string[] info = AppState.TargetDevicePinout.Item.Split("=");
                AppState.TargetDevicePinout.Item = info[0].Trim();
            }
            PinoutStr = $"Using Default Setup: {AppState.TargetDevicePinout.Item}";
            byte subCmd = Softata.SoftataLib.GetGenericCmdIndexfromList("setupdefault", AppState.GenericCommands.List);
            string result = AppState.softataLib.SendTargetCommand((byte)AppState.TargetDeviceType.Index, 1, subCmd, (byte)AppState.TargetDevice.Index);
            AppState.linkedListNo = 0xff;
            if (byte.TryParse(result, out byte lln))
            {
                if (lln != 0xff)
                {
                    AppState.linkedListNo = lln;
                }
                else
                { bool quit = true; }

            }


        }
        else
        {
            /*            byte pinn = 16;
        * 
        * 
        AppState.TargetDevicePin.Index = pinn;
        AppState.TargetDevicePin.Item = $"Pin = {pinn}";


        AppState.Num_Bits.Index = 4;*/
            //Layout.Info($"Using NonDefault Setup: {TargetPin.Item} Num Bits:{num_bits}");

            byte subCmd = Softata.SoftataLib.GetGenericCmdIndexfromList("setupgeneral", AppState.GenericCommands.List);
            byte[] data = new byte[] { (byte)AppState.Num_Bits.Index };
            //(byte)AppState.TargetDeviceType.Index
            //string result = AppState.softataLib.SendTargetCommand((byte)AppState.TargetCommand.Index, (byte)AppState.TargetDevicePin.Index, subCmd, (byte)AppState.TargetDevice.Index, 0xff, data);
            string result = AppState.softataLib.SendTargetCommand((byte)AppState.TargetDeviceType.Index, (byte)AppState.TargetDevicePin.Index, subCmd, (byte)AppState.TargetDevice.Index, 0xff, data);

            AppState.linkedListNo = 0xff;
            if (byte.TryParse(result, out byte lln))
            {
                if (lln != 0xff)
                    AppState.linkedListNo = lln;
                else
                { bool quit = true; }

            }
        }

        if (AppState.TargetDeviceType.Item.ToLower() == "actuator")
        {
            byte subCmd = Softata.SoftataLib.GetGenericCmdIndexfromList("GetActuatorCapab", AppState.GenericCommands.List);
            string response = AppState.softataLib.SendTargetCommand((byte)AppState.TargetDeviceType.Index, (byte)AppState.TargetDevicePin.Index, (byte)subCmd, (byte)0xff, AppState.linkedListNo);

            if (int.TryParse(response, out int capabilities))
            {
                AppState.Capabilities = capabilities;
            }
            subCmd = Softata.SoftataLib.GetGenericCmdIndexfromList("Getnumbits", AppState.GenericCommands.List);
            response = AppState.softataLib.SendTargetCommand((byte)AppState.TargetDeviceType.Index, (byte)AppState.TargetDevicePin.Index, (byte)subCmd, (byte)0xff, AppState.linkedListNo);
            System.Diagnostics.Debug.WriteLine($"1. Response: {response}");
            if (int.TryParse(response, out int _numBits))
            {
                AppState.Max_Num_Bits = _numBits;  
                AppState.selectedDeviceLoopVars.actuatorRange = new Tuple<int, int>(0, (int)Math.Pow(2, _numBits) - 1);
            }
            subCmd = Softata.SoftataLib.GetGenericCmdIndexfromList("GetInstanceValueRange", AppState.GenericCommands.List);
            response = AppState.softataLib.SendTargetCommand((byte)AppState.TargetDeviceType.Index, (byte)AppState.TargetDevicePin.Index, (byte)subCmd, (byte)0xff, AppState.linkedListNo);
            if (int.TryParse(response, out int _maxRange))
            {
                AppState.Max_Num_Bits = _numBits;
                AppState.selectedDeviceLoopVars.actuatorRange = new Tuple<int, int>(0, _maxRange);
            }
            else if (response.Contains("..."))
            {
                string[] parts = response.Split("...");
                if (parts.Length > 1)
                {
                    if (int.TryParse(parts[0], out int start))
                    {
                        if (int.TryParse(parts[1], out int end))
                        {
                            AppState.selectedDeviceLoopVars.actuatorRange = new Tuple<int, int>(start, end);
                        }
                    }
                }
            }
        }
        else if(AppState.TargetDeviceType.Item.ToLower() == "display")
        {
            AppState.DisplayMiscCmds = AppState.softataLib.GetDisplayMiscCmds(AppState.GenericCommands.List, AppState.TargetDevice);
            // Get Display Misc commands

        }
        else if (AppState.TargetDeviceType.Item.ToLower() == "deviceinput")
        {
            byte subCmd = Softata.SoftataLib.GetGenericCmdIndexfromList("GetInputCapab", AppState.GenericCommands.List);
            string response = AppState.softataLib.SendTargetCommand((byte)AppState.TargetDeviceType.Index, (byte)AppState.TargetDevicePin.Index, (byte)subCmd, (byte)0xff, AppState.linkedListNo);

            if (int.TryParse(response, out int capabilities))
            {
                AppState.Capabilities = capabilities;
            }
        }
        Softata.ActionCommands.CommandsPortal commandsPortal = new Softata.ActionCommands.CommandsPortal
        (
            AppState.GenericCommands.List.ToArray(),
            AppState.UseGenericCommands,
            AppState.Stringlist,
            AppState.TargetDeviceType,
            AppState.TargetDevice,
            AppState.linkedListNo,
            AppState.Capabilities
        );
        AppState.CommandsPortal = commandsPortal;
        Thread.Sleep(100);
        Instantiated = true;
        StateHasChanged();
    }

    private async Task ShowAlert(string msg)
    {
        await JsRuntime.InvokeVoidAsync("alert", msg);
        //await JSRuntime.InvokeVoidAsync(title, msg);
    }

    private static byte GetGenericCmdIndex(string cmd, string[] GenericCmds)
    {
        byte subCmd = 0;
        for (int i = 0; i < GenericCmds.Length; i++)
        {
            if (GenericCmds[i].ToLower().Contains(cmd.ToLower()))
            {
                subCmd = (byte)i;
                break;
            }
        }
        return subCmd;
    }



    public class LLLayout: Softata.ActionCommands.ILLayout
    {

        static public Func <int,int,int> GetByteValue { get; set;}
        static public Func <int, int, bool, int> GetNum2 { get; set; }
        static public Func <bool> GetBool { get; set; }
        static public Action<string,string> ShowInfo { get; set; }
        public  Func<int , string ,bool, bool, Selection> SelectFromCSV  {get; set; }


        public LLLayout()
        {
            SelectFromCSV = deviceinputModel.SelectFromCSV;
        }

        void ILLayout.Info(string msg, string msg2)
        {
            if (string.IsNullOrEmpty(msg))
            {
                throw new ArgumentException($"'{nameof(msg)}' cannot be null or empty.", nameof(msg));
            }

            if (msg.Contains("Selected"))
            {
                deviceinputModel.title = msg; 
                deviceinputModel.cmd = msg2;
                deviceinputModel.result = "";
            }
            else
            {
                deviceinputModel.result = msg;
            }          
        }

        void ILLayout.Prompt(string msg, string msg2)
        {
            throw new NotImplementedException();
        }

        bool ILLayout.Prompt4Bool()
        {
            if (GetBool != null)
                return GetBool();
            else
                return deviceinputModel.Bool;
        }



        // Nb: start and endd for bits are from 1 to maxbit

        int  ILLayout.Prompt4IntInRange(int start, int endd)
        {     
            if(GetByteValue != null)
            {
                return GetByteValue(start, endd);
            }
            else 
            {
                if (endd == deviceinputModel.maxValue)
                    return deviceinputModel.value;
                else if (endd == (deviceinputModel.endBit+1) )  //AppState.EndBit)
                    return deviceinputModel.bitNum;
                else 
                    return 0;
            }
        }

        // Nb: start and endd for bits are from 1 to maxbit

        int ILLayout.Prompt4Num(int start, int endd, bool backquit)
        {
            if(GetNum2 != null)
                return GetNum2(start, endd,backquit);
            else
            {
                if (endd == deviceinputModel.maxValue) 
                    return deviceinputModel.value;
                else if (endd == (deviceinputModel.endBit+1))  //AppState.EndBit)
                    return deviceinputModel.bitNum;
                else
                    return 0;
            }
        }

        Selection ILLayout.PromptWithCSVList(int defaultInt, string csvList, bool quit, bool back)
        {
            if (SelectFromCSV != null)
                return SelectFromCSV(defaultInt, csvList, quit, back);
            else
            {
                string[] removeColon = csvList.Split(":");
                string[] items = removeColon[1].Split(",");
                int cmd = deviceinputModel.lastMiscMenuSelectedIndex;
                return new Selection(cmd, items[cmd]);
            }
        }

        public string ReadLine()
        {
            return deviceinputModel.stringValue;
        }

        public List<int> Prompt4NumswithMaxes(int numValues, string csvListMaxes, Fmt.Col promptcol, Fmt.Col infocol)
        {
            if (numValues == 2)
                return new List<int> { 1, 1 };
            else return new List<int> { 10 };
        }

        public List<int> Prompt4Nums(int numValues, Fmt.Col promptcol, Fmt.Col infocol)
        {
            if(numValues == 2)
                return new List<int> { 1, 1 };
            else return new List<int> { 10};
        }

        public string Prompt4String(string prompt, Fmt.Col promptcol, Fmt.Col infocol)
        {
            throw new NotImplementedException();
        }

        List<int> ILLayout.Prompt4NumswithMaxesandText(int numValues, string csvListMaxes, out string textOnEndStr, bool textOnEnd, Fmt.Col promptcol, Fmt.Col infocol)
        {
            throw new NotImplementedException();
        }

        List<int> ILLayout.Prompt4NumsandText(int numValues, out string textOnEndStr, bool textOnEnd, Fmt.Col promptcol, Fmt.Col infocol)
        {
            throw new NotImplementedException();
        }
    }



}
